{
  root: true,
  parser: "babel-eslint",
  extends: [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  plugins: [
    "react"
  ],
  "rules": {
    "arrow-parens": 0,
    "semi": [2, "never"],
    "no-console": 0,
    "react/prop-types": 0
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true
  }
}
