:ruby
  @body_class = "signin-page"

%header
  %a.fa.fa-close{href: '/'}

%section
  %h1.logo 论坛
  = form_for @user, url: 'create_login_session', html: {:class => ''} do |f|

    .form-group
      %input.form-control{type: 'text', name: 'user[name]', placeholder: '用户名'}

    .form-group
      %input.form-control{type: 'password', name: 'user[password]', placeholder: '密码'}

    .form-group
      %input.btn.btn-primary.btn-block{type: 'submit', value: '登录'}

      - if flash.notice
        %p= flash.notice

%footer
  %a.link{href: '/signup'} 新用户注册