%li.article-item
  %a{:href => "/article/#{article.id}"}
    .user-info
      %img{:src => "/images/avatar.png"}
      %span 要啥自行车啊 /article.author.name
      %span.fa.fa-ellipsis
    %h6= article.title
    %p= raw article.text
    .article-info
      .like
        .fa.fa-heart-o
      .comment
        .fa.fa-commenting-o
      .time
        %time 12月13日 21:43
