@import './variable'
@import "bootstrap-sprockets"
@import "bootstrap"


@import "**/*"

html, body, #app
  height: 100%
html
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", "Meiryo", "Malgun Gothic", "sans-serif"

#app
  .container
    height: 100%


