@import 'variable'
@import 'mixin'

@import 'component/**/*'
@import 'common/**/*'
@import 'welcome/**/*'

html, body, #app
  height: 100%
html
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", "Meiryo", "Malgun Gothic", "sans-serif"

body
  .logo
    padding-top: 15%
    padding-bottom: 40px
    text-align: center
    letter-spacing: 15px
    font-size: 60px
    color: $core-color
    text-shadow: 2px 2px 6px #ccc
#app
  .container
    height: 100%

