.cx-header
  position: relative
  height: 64px
  padding: 0 15px
  background: #f8f8f8
  border-bottom: 1px solid #ddd
  display: flex
  justify-content: center
  align-items: center
  .header-title
    font-size: 20px
    text-align: center
    // TODO 去除bs后删掉
    margin: 0
  .header-left, .header-right
    flex: 1
    display: flex
    align-items: center
    font-size: 16px
    .fa
      font-size: 22px
  .header-right
    justify-content: flex-end
    .fa
      &:not(:last-child)
        margin-right: 15px
