{
  "presets": ["react-native-stage-0"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "pages": "./src/pages",
          "components": "./src/components",
          "images": "./image"
        }
      }
    ]
  ]
}
