%footer.cx-footer
  %a.footer-icon{:href => "/articles"}
    %span.fa.fa-home
    %span 主页
  %a.footer-icon{:href => "/messages"}
    %span.fa.fa-commenting
    %span 私信
  %a.footer-icon{:href => "/account"}
    %span.fa.fa-user
    %span 我的