%footer.cx-footer
  %a.footer-icon{:href => "/application/posts"}
    %span.fa.fa-home
    %span 主页
  %a.footer-icon{:href => "/application/messages"}
    %span.fa.fa-commenting
    %span 私信
  %a.footer-icon{:href => "/application/account"}
    %span.fa.fa-user
    %span 我的